#body-marketing {
    overflow-x: hidden;
}

#body-analyse {
    overflow-x: hidden;
}

.left-paragraph-marketing-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.left-paragraph-marketing-container .left-paragraph-marketing {
    background-color: #fcd6be;
    border-radius: 20px;
    padding: 10px 15px 5px 15px;
}

.right-paragraph-marketing-container {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 40px;
}

.right-paragraph-marketing-container .right-paragraph-marketing {
    background-color: #9bf5a3;
    border-radius: 20px;
    padding: 10px 15px 5px 15px;
}

.marketing-photo {
width: 100%;
}

.centered-marketing {
    position: relative;
    margin-bottom: 3vh;
  }

.centered-marketing-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #49e956;
    padding: 14px 28px;
    cursor: pointer;
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
    transition: all .2s;
  }

  .block:hover {
    background-color: #417c46;
    transition: all .2s;  
  }